.page-header
  %h1 Register
%form{ ng_submit: "register()" }
  .input-group
    %input.form-control{ ng_model: "user.email", placeholder: "Email", type: "email" }
  .input-group
    %input.form-control{ ng_model: "user.password", placeholder: "Password", type: "password" }
  %input.btn.btn-default{ type: "submit", value: "Register" }
